workflows/wf2b-reed-mt.json
{
  "updatedAt": "2026-04-04T14:22:26.773Z",
  "createdAt": "2026-03-29T11:29:22.281Z",
  "id": "wjHyL60WKQUKT5jR",
  "name": "WF2b: Reed Poller",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "sched",
      "name": "Every 3 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT search_term, location, salary_min, salary_max FROM search_configs WHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND source = 'api' AND is_active = true",
        "options": {}
      },
      "id": "cfg",
      "name": "Get Configs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        620,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch",
      "name": "One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        840,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.reed.co.uk/api/1.0/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keywords",
              "value": "={{ $json.search_term }}"
            },
            {
              "name": "locationName",
              "value": "={{ $json.location }}"
            },
            {
              "name": "distancefromlocation",
              "value": "25"
            },
            {
              "name": "minimumSalary",
              "value": "={{ $json.salary_min }}"
            },
            {
              "name": "maximumSalary",
              "value": "={{ $json.salary_max }}"
            },
            {
              "name": "resultsToTake",
              "value": "100"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "reed",
      "name": "Reed API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        0
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OWW33nNRQphqgKen",
          "name": "Reed API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nreturn results.map(job => ({\n  json: {\n    title: (job.jobTitle || '').trim(),\n    company: (job.employerName || 'Unknown').trim(),\n    location: (job.locationName || 'UK').trim(),\n    salary_min: job.minimumSalary ? Math.round(job.minimumSalary) : null,\n    salary_max: job.maximumSalary ? Math.round(job.maximumSalary) : null,\n    salary_raw: job.minimumSalary ? `\u00a3${Math.round(job.minimumSalary).toLocaleString()} - \u00a3${Math.round(job.maximumSalary).toLocaleString()}` : null,\n    description: (job.jobDescription || '').substring(0, 5000),\n    url: job.jobUrl,\n    posted_at: job.date,\n    expires_at: job.expirationDate || null,\n    application_count: job.applications || null,\n    source: 'reed',\n    source_id: String(job.jobId),\n    contract_type: null,\n    work_type: null\n  }\n}));"
      },
      "id": "map",
      "name": "Map Reed Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst items = $input.all();\nconst tenantId = items[0]?.json?.tenant_id || '';\nreturn items.map(item => {\n  const d = item.json;\n  let loc = (d.location || 'UK').replace(/Greater London/gi, 'London').replace(/,\\s*UK$/gi, '').trim();\n  const dedupStr = `${d.title.toLowerCase()}|${d.company.toLowerCase()}|${loc.toLowerCase()}`;\n  const dedupHash = crypto.createHash('md5').update(dedupStr).digest('hex');\n  const academicKw = ['lecturer', 'professor', 'teaching fellow', 'senior lecturer'];\n  const jobType = academicKw.some(k => d.title.toLowerCase().includes(k)) ? 'academic' : 'corporate';\n  return { json: { ...d, location: loc, dedup_hash: dedupHash, job_type: jobType } };\n});"
      },
      "id": "norm",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (tenant_id, title, company, location, salary_min, salary_max, salary_raw, description, url, posted_at, expires_at, application_count, contract_type, work_type, job_type, dedup_hash, status) VALUES ('{{ $('Loop Over Tenants').item.json.tenant_id }}', $1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,'raw') ON CONFLICT (dedup_hash) WHERE is_duplicate = false DO NOTHING",
        "options": {}
      },
      "id": "upsert",
      "name": "Upsert Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1720,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO source_health (tenant_id, source, status, jobs_found) VALUES ('{{ $('Loop Over Tenants').item.json.tenant_id }}', 'reed', 'ok', 0)",
        "options": {}
      },
      "id": "health",
      "name": "Log Health",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1940,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS tenant_id, name AS tenant_name, notification_email, candidate_profile, search_config, email_config FROM tenants WHERE is_active = true",
        "options": {}
      },
      "id": "fetch_tenants",
      "name": "Fetch Active Tenants",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop_tenants",
      "name": "Loop Over Tenants",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        0
      ]
    }
  ],
  "connections": {
    "Every 3 Hours": {
      "main": [
        [
          {
            "node": "Fetch Active Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Configs": {
      "main": [
        [
          {
            "node": "One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "One at a Time": {
      "main": [
        [
          {
            "node": "Reed API",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Reed API": {
      "main": [
        [
          {
            "node": "Map Reed Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Reed Results": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Upsert Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Job": {
      "main": [
        [
          {
            "node": "Log Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Tenants": {
      "main": [
        [
          {
            "node": "Loop Over Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Tenants": {
      "main": [
        [],
        [
          {
            "node": "Get Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Health": {
      "main": [
        [
          {
            "node": "Loop Over Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Every 3 Hours": {
      "recurrenceRules": [
        21
      ]
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "5fc91d5d-b98f-416f-8151-ab87c329733b",
  "activeVersionId": "5fc91d5d-b98f-416f-8151-ab87c329733b",
  "versionCounter": 69,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-29T11:29:22.281Z",
      "createdAt": "2026-03-29T11:29:22.281Z",
      "role": "workflow:owner",
      "workflowId": "wjHyL60WKQUKT5jR",
      "projectId": "IrY2W58JPTTW41XY",
      "project": {
        "updatedAt": "2026-03-29T09:57:50.698Z",
        "createdAt": "2026-03-29T09:50:40.962Z",
        "id": "IrY2W58JPTTW41XY",
        "name": "Venkatesan Ramachandran <venkat.fts@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-29T11:29:22.291Z",
    "createdAt": "2026-03-29T11:29:22.291Z",
    "versionId": "5fc91d5d-b98f-416f-8151-ab87c329733b",
    "workflowId": "wjHyL60WKQUKT5jR",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 3
              }
            ]
          }
        },
        "id": "sched",
        "name": "Every 3 Hours",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT search_term, location, salary_min, salary_max FROM search_configs WHERE source = 'api' AND is_active = true",
          "options": {}
        },
        "id": "cfg",
        "name": "Get Configs",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          220,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "batch",
        "name": "One at a Time",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          440,
          0
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://www.reed.co.uk/api/1.0/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "keywords",
                "value": "={{ $json.search_term }}"
              },
              {
                "name": "locationName",
                "value": "={{ $json.location }}"
              },
              {
                "name": "distancefromlocation",
                "value": "25"
              },
              {
                "name": "minimumSalary",
                "value": "={{ $json.salary_min }}"
              },
              {
                "name": "maximumSalary",
                "value": "={{ $json.salary_max }}"
              },
              {
                "name": "resultsToTake",
                "value": "100"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "reed",
        "name": "Reed API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          0
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "OWW33nNRQphqgKen",
            "name": "Reed API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const results = $input.first().json.results || [];\nreturn results.map(job => ({\n  json: {\n    title: (job.jobTitle || '').trim(),\n    company: (job.employerName || 'Unknown').trim(),\n    location: (job.locationName || 'UK').trim(),\n    salary_min: job.minimumSalary ? Math.round(job.minimumSalary) : null,\n    salary_max: job.maximumSalary ? Math.round(job.maximumSalary) : null,\n    salary_raw: job.minimumSalary ? `\u00a3${Math.round(job.minimumSalary).toLocaleString()} - \u00a3${Math.round(job.maximumSalary).toLocaleString()}` : null,\n    description: (job.jobDescription || '').substring(0, 5000),\n    url: job.jobUrl,\n    posted_at: job.date,\n    expires_at: job.expirationDate || null,\n    application_count: job.applications || null,\n    source: 'reed',\n    source_id: String(job.jobId),\n    contract_type: null,\n    work_type: null\n  }\n}));"
        },
        "id": "map",
        "name": "Map Reed Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst items = $input.all();\nreturn items.map(item => {\n  const d = item.json;\n  let loc = (d.location || 'UK').replace(/Greater London/gi, 'London').replace(/,\\s*UK$/gi, '').trim();\n  const dedupStr = `${d.title.toLowerCase()}|${d.company.toLowerCase()}|${loc.toLowerCase()}`;\n  const dedupHash = crypto.createHash('md5').update(dedupStr).digest('hex');\n  const academicKw = ['lecturer', 'professor', 'teaching fellow', 'senior lecturer'];\n  const jobType = academicKw.some(k => d.title.toLowerCase().includes(k)) ? 'academic' : 'corporate';\n  return { json: { ...d, location: loc, dedup_hash: dedupHash, job_type: jobType } };\n});"
        },
        "id": "norm",
        "name": "Normalize",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          0
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO jobs (title, company, location, salary_min, salary_max, salary_raw, description, url, posted_at, expires_at, application_count, contract_type, work_type, job_type, dedup_hash, status) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,'raw') ON CONFLICT (dedup_hash) WHERE is_duplicate = false DO NOTHING",
          "options": {}
        },
        "id": "upsert",
        "name": "Upsert Job",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1320,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO source_health (source, status, jobs_found) VALUES ('reed', 'ok', 0)",
          "options": {}
        },
        "id": "health",
        "name": "Log Health",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1540,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      }
    ],
    "connections": {
      "Every 3 Hours": {
        "main": [
          [
            {
              "node": "Get Configs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Configs": {
        "main": [
          [
            {
              "node": "One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "One at a Time": {
        "main": [
          [
            {
              "node": "Reed API",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Reed API": {
        "main": [
          [
            {
              "node": "Map Reed Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map Reed Results": {
        "main": [
          [
            {
              "node": "Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize": {
        "main": [
          [
            {
              "node": "Upsert Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Job": {
        "main": [
          [
            {
              "node": "Log Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Venkatesan Ramachandran",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T11:32:35.211Z",
        "id": 2,
        "workflowId": "wjHyL60WKQUKT5jR",
        "versionId": "5fc91d5d-b98f-416f-8151-ab87c329733b",
        "event": "activated",
        "userId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      },
      {
        "createdAt": "2026-04-04T14:22:26.809Z",
        "id": 94,
        "workflowId": "wjHyL60WKQUKT5jR",
        "versionId": "5fc91d5d-b98f-416f-8151-ab87c329733b",
        "event": "deactivated",
        "userId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      },
      {
        "createdAt": "2026-04-04T14:22:26.836Z",
        "id": 95,
        "workflowId": "wjHyL60WKQUKT5jR",
        "versionId": "5fc91d5d-b98f-416f-8151-ab87c329733b",
        "event": "activated",
        "userId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      }
    ]
  }
}