workflows/wf4-metrics-mt.json
{
  "updatedAt": "2026-04-04T21:23:47.480Z",
  "createdAt": "2026-04-02T17:20:28.251Z",
  "id": "2jJ6mnhGDUUdMv4Q",
  "name": "WF4-METRICS: Daily Pipeline Metrics",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "sched",
      "name": "Daily 6AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE application_pre_employment\nSET dbs_submitted_at = NULL, dbs_completed_at = NULL, dbs_status = 'not_required', dbs_type = NULL, updated_at = NOW()\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND dbs_status IN ('cleared') AND dbs_completed_at < NOW() - INTERVAL '30 days';\n\nUPDATE application_pre_employment pe\nSET dbs_submitted_at = NULL, dbs_completed_at = NULL, dbs_status = 'not_required', dbs_type = NULL, updated_at = NOW()\nFROM applications a\nWHERE pe.application_id = a.id AND a.is_active = false AND a.resolved_at < NOW() - INTERVAL '30 days' AND pe.dbs_status != 'not_required';",
        "options": {}
      },
      "id": "pg_dbs_cleanup",
      "name": "DBS Data Cleanup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        650,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT \\'{{ $('Loop Over Tenants').item.json.tenant_id }}\\', 'applications_submitted', COUNT(*), jsonb_build_object('track', pipeline_track),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND applied_at >= DATE_TRUNC('day', NOW()) - INTERVAL '1 day'\n  AND applied_at < DATE_TRUNC('day', NOW())\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_volume",
      "name": "Application Volume Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT \\'{{ $('Loop Over Tenants').item.json.tenant_id }}\\', 'response_rate',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE current_state NOT IN ('applied', 'ghosted'))::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('track', pipeline_track),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND applied_at IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_response",
      "name": "Response Rate Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT \\'{{ $('Loop Over Tenants').item.json.tenant_id }}\\', 'ghosting_rate',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE outcome = 'ghosted')::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('track', pipeline_track),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND applied_at IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_ghosting",
      "name": "Ghosting Rate Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT \\'{{ $('Loop Over Tenants').item.json.tenant_id }}\\', 'median_days_to_response',\n       COALESCE(PERCENTILE_CONT(0.5) WITHIN GROUP (\n           ORDER BY EXTRACT(EPOCH FROM (acknowledged_at - applied_at)) / 86400\n       ), 0),\n       jsonb_build_object('track', pipeline_track),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND acknowledged_at IS NOT NULL AND applied_at IS NOT NULL\n  AND acknowledged_at >= NOW() - INTERVAL '90 days'\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_velocity",
      "name": "Stage Velocity Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1150,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT \\'{{ $('Loop Over Tenants').item.json.tenant_id }}\\', 'pipeline_depth', COUNT(*),\n       jsonb_build_object('track', pipeline_track, 'state', current_state),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND is_active = true\nGROUP BY pipeline_track, current_state\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_depth",
      "name": "Pipeline Depth Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1150,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT \\'{{ $('Loop Over Tenants').item.json.tenant_id }}\\', 'source_response_rate',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE current_state NOT IN ('applied', 'ghosted'))::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('source', COALESCE(discovery_source, 'unknown')),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND applied_at IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY discovery_source\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_source",
      "name": "Source Effectiveness Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1150,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT \\'{{ $('Loop Over Tenants').item.json.tenant_id }}\\', 'cv_version_response_rate',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE current_state NOT IN ('applied', 'ghosted'))::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('cv_version', COALESCE(cv_version_id::text, 'unknown')),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND applied_at IS NOT NULL\n  AND cv_version_id IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY cv_version_id\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_docs",
      "name": "Document Performance Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT \\'{{ $('Loop Over Tenants').item.json.tenant_id }}\\', 'funnel_conversion',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE highest_state_reached IN ('interviewing', 'assessment', 'offer_received', 'negotiating', 'pre_employment', 'accepted'))::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('track', pipeline_track, 'stage', 'applied_to_interview'),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND applied_at IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_funnel",
      "name": "Funnel Conversion Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nVALUES ('{{ $('Loop Over Tenants').item.json.tenant_id }}', 'total_active_applications',\n       (SELECT COUNT(*) FROM applications WHERE is_active = true),\n       '{}'::jsonb,\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily')\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
        "options": {}
      },
      "id": "pg_total",
      "name": "Total Active Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS tenant_id, name AS tenant_name, notification_email, candidate_profile, search_config, email_config FROM tenants WHERE is_active = true",
        "options": {}
      },
      "id": "fetch_tenants",
      "name": "Fetch Active Tenants",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "uAbCv6KI1KdUiMtX",
          "name": "Selvi Jobs DB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop_tenants",
      "name": "Loop Over Tenants",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        0
      ]
    }
  ],
  "connections": {
    "Daily 6AM": {
      "main": [
        [
          {
            "node": "Fetch Active Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DBS Data Cleanup": {
      "main": [
        [
          {
            "node": "Application Volume Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Response Rate Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ghosting Rate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Application Volume Metrics": {
      "main": [
        [
          {
            "node": "Stage Velocity Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Rate Metrics": {
      "main": [
        [
          {
            "node": "Pipeline Depth Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ghosting Rate Metrics": {
      "main": [
        [
          {
            "node": "Source Effectiveness Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Velocity Metrics": {
      "main": [
        [
          {
            "node": "Document Performance Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Depth Metrics": {
      "main": [
        [
          {
            "node": "Funnel Conversion Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Effectiveness Metrics": {
      "main": [
        [
          {
            "node": "Total Active Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Tenants": {
      "main": [
        [
          {
            "node": "Loop Over Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Tenants": {
      "main": [
        [],
        [
          {
            "node": "DBS Data Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Performance Metrics": {
      "main": [
        [
          {
            "node": "Loop Over Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Funnel Conversion Metrics": {
      "main": [
        [
          {
            "node": "Loop Over Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total Active Count": {
      "main": [
        [
          {
            "node": "Loop Over Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/London",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Daily 6AM": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "7e9905e2-2b17-4fb1-b5bc-c21fbe124e64",
  "activeVersionId": "7e9905e2-2b17-4fb1-b5bc-c21fbe124e64",
  "versionCounter": 10,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-02T17:20:28.251Z",
      "createdAt": "2026-04-02T17:20:28.251Z",
      "role": "workflow:owner",
      "workflowId": "2jJ6mnhGDUUdMv4Q",
      "projectId": "IrY2W58JPTTW41XY",
      "project": {
        "updatedAt": "2026-03-29T09:57:50.698Z",
        "createdAt": "2026-03-29T09:50:40.962Z",
        "id": "IrY2W58JPTTW41XY",
        "name": "Venkatesan Ramachandran <venkat.fts@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-04T21:23:47.482Z",
    "createdAt": "2026-04-04T21:23:47.482Z",
    "versionId": "7e9905e2-2b17-4fb1-b5bc-c21fbe124e64",
    "workflowId": "2jJ6mnhGDUUdMv4Q",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * *"
              }
            ]
          }
        },
        "id": "sched",
        "name": "Daily 6AM",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE application_pre_employment\nSET dbs_submitted_at = NULL, dbs_completed_at = NULL, dbs_status = 'not_required', dbs_type = NULL, updated_at = NOW()\nWHERE tenant_id = '{{ $('Loop Over Tenants').item.json.tenant_id }}' AND dbs_status IN ('cleared') AND dbs_completed_at < NOW() - INTERVAL '30 days';\n\nUPDATE application_pre_employment pe\nSET dbs_submitted_at = NULL, dbs_completed_at = NULL, dbs_status = 'not_required', dbs_type = NULL, updated_at = NOW()\nFROM applications a\nWHERE pe.application_id = a.id AND a.is_active = false AND a.resolved_at < NOW() - INTERVAL '30 days' AND pe.dbs_status != 'not_required';",
          "options": {}
        },
        "id": "pg_dbs_cleanup",
        "name": "DBS Data Cleanup",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          650,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT 'applications_submitted', COUNT(*), jsonb_build_object('track', pipeline_track),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE applied_at >= DATE_TRUNC('day', NOW()) - INTERVAL '1 day'\n  AND applied_at < DATE_TRUNC('day', NOW())\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_volume",
        "name": "Application Volume Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          900,
          -200
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT 'response_rate',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE current_state NOT IN ('applied', 'ghosted'))::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('track', pipeline_track),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE applied_at IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_response",
        "name": "Response Rate Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          900,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT 'ghosting_rate',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE outcome = 'ghosted')::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('track', pipeline_track),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE applied_at IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_ghosting",
        "name": "Ghosting Rate Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          900,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT 'median_days_to_response',\n       COALESCE(PERCENTILE_CONT(0.5) WITHIN GROUP (\n           ORDER BY EXTRACT(EPOCH FROM (acknowledged_at - applied_at)) / 86400\n       ), 0),\n       jsonb_build_object('track', pipeline_track),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE acknowledged_at IS NOT NULL AND applied_at IS NOT NULL\n  AND acknowledged_at >= NOW() - INTERVAL '90 days'\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_velocity",
        "name": "Stage Velocity Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1150,
          -200
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT 'pipeline_depth', COUNT(*),\n       jsonb_build_object('track', pipeline_track, 'state', current_state),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE is_active = true\nGROUP BY pipeline_track, current_state\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_depth",
        "name": "Pipeline Depth Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1150,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT 'source_response_rate',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE current_state NOT IN ('applied', 'ghosted'))::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('source', COALESCE(discovery_source, 'unknown')),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE applied_at IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY discovery_source\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_source",
        "name": "Source Effectiveness Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1150,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT 'cv_version_response_rate',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE current_state NOT IN ('applied', 'ghosted'))::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('cv_version', COALESCE(cv_version_id::text, 'unknown')),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE applied_at IS NOT NULL\n  AND cv_version_id IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY cv_version_id\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_docs",
        "name": "Document Performance Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1400,
          -200
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (metric_name, metric_value, dimensions, period_start, period_end, period_type)\nSELECT 'funnel_conversion',\n       CASE WHEN COUNT(*) > 0 THEN\n           ROUND(COUNT(*) FILTER (WHERE highest_state_reached IN ('interviewing', 'assessment', 'offer_received', 'negotiating', 'pre_employment', 'accepted'))::numeric / COUNT(*)::numeric * 100, 1)\n       ELSE 0 END,\n       jsonb_build_object('track', pipeline_track, 'stage', 'applied_to_interview'),\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily'\nFROM applications\nWHERE applied_at IS NOT NULL\n  AND applied_at >= NOW() - INTERVAL '30 days'\nGROUP BY pipeline_track\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_funnel",
        "name": "Funnel Conversion Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1400,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO pipeline_metrics (tenant_id, metric_name, metric_value, dimensions, period_start, period_end, period_type)\nVALUES ('{{ $('Loop Over Tenants').item.json.tenant_id }}', 'total_active_applications',\n       (SELECT COUNT(*) FROM applications WHERE is_active = true),\n       '{}'::jsonb,\n       DATE_TRUNC('day', NOW()), DATE_TRUNC('day', NOW()) + INTERVAL '1 day', 'daily')\nON CONFLICT (metric_name, period_start, period_type, dimensions)\nDO UPDATE SET metric_value = EXCLUDED.metric_value, calculated_at = NOW();",
          "options": {}
        },
        "id": "pg_total",
        "name": "Total Active Count",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1400,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id AS tenant_id, name AS tenant_name, notification_email, candidate_profile, search_config, email_config FROM tenants WHERE is_active = true",
          "options": {}
        },
        "id": "fetch_tenants",
        "name": "Fetch Active Tenants",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          250,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "uAbCv6KI1KdUiMtX",
            "name": "Selvi Jobs DB"
          }
        }
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "loop_tenants",
        "name": "Loop Over Tenants",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          500,
          0
        ]
      }
    ],
    "connections": {
      "Daily 6AM": {
        "main": [
          [
            {
              "node": "Fetch Active Tenants",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DBS Data Cleanup": {
        "main": [
          [
            {
              "node": "Application Volume Metrics",
              "type": "main",
              "index": 0
            },
            {
              "node": "Response Rate Metrics",
              "type": "main",
              "index": 0
            },
            {
              "node": "Ghosting Rate Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Application Volume Metrics": {
        "main": [
          [
            {
              "node": "Stage Velocity Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response Rate Metrics": {
        "main": [
          [
            {
              "node": "Pipeline Depth Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ghosting Rate Metrics": {
        "main": [
          [
            {
              "node": "Source Effectiveness Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stage Velocity Metrics": {
        "main": [
          [
            {
              "node": "Document Performance Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pipeline Depth Metrics": {
        "main": [
          [
            {
              "node": "Funnel Conversion Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Source Effectiveness Metrics": {
        "main": [
          [
            {
              "node": "Total Active Count",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Active Tenants": {
        "main": [
          [
            {
              "node": "Loop Over Tenants",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Tenants": {
        "main": [
          [],
          [
            {
              "node": "DBS Data Cleanup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Document Performance Metrics": {
        "main": [
          [
            {
              "node": "Loop Over Tenants",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Funnel Conversion Metrics": {
        "main": [
          [
            {
              "node": "Loop Over Tenants",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Total Active Count": {
        "main": [
          [
            {
              "node": "Loop Over Tenants",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Venkatesan Ramachandran",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-04T21:23:47.527Z",
        "id": 143,
        "workflowId": "2jJ6mnhGDUUdMv4Q",
        "versionId": "7e9905e2-2b17-4fb1-b5bc-c21fbe124e64",
        "event": "deactivated",
        "userId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      },
      {
        "createdAt": "2026-04-04T21:23:47.554Z",
        "id": 144,
        "workflowId": "2jJ6mnhGDUUdMv4Q",
        "versionId": "7e9905e2-2b17-4fb1-b5bc-c21fbe124e64",
        "event": "activated",
        "userId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      },
      {
        "createdAt": "2026-04-04T21:25:14.101Z",
        "id": 169,
        "workflowId": "2jJ6mnhGDUUdMv4Q",
        "versionId": "7e9905e2-2b17-4fb1-b5bc-c21fbe124e64",
        "event": "deactivated",
        "userId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      },
      {
        "createdAt": "2026-04-04T21:25:14.124Z",
        "id": 170,
        "workflowId": "2jJ6mnhGDUUdMv4Q",
        "versionId": "7e9905e2-2b17-4fb1-b5bc-c21fbe124e64",
        "event": "activated",
        "userId": "509e77ae-43b3-42df-bd9d-6e2a7aa26079"
      }
    ]
  }
}