workflows/wf5-extract.json
{
  "name": "WF5-EXTRACT: Data Extraction (M5)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 5 }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "wf5e-trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT e.id, e.gmail_message_id, e.gmail_thread_id, e.subject,\n       e.from_email, e.from_name, e.body_stripped, e.snippet,\n       e.has_attachments, e.has_ics_attachment,\n       ec.classification, ec.sub_category, ec.is_urgent, ec.sender_type\nFROM emails e\nJOIN email_classifications ec ON ec.email_id = e.id\nWHERE e.status = 'classified'\n    AND ec.classification NOT IN ('not_job_related', 'marketing')\nORDER BY\n    CASE ec.classification\n        WHEN 'interview_invite' THEN 1\n        WHEN 'offer' THEN 2\n        WHEN 'follow_up_request' THEN 3\n        WHEN 'recruiter_outreach' THEN 4\n        WHEN 'acknowledgment' THEN 5\n        WHEN 'rejection' THEN 6\n        WHEN 'job_alert' THEN 7\n    END ASC\nLIMIT 10;",
        "options": {}
      },
      "name": "Get Classified Emails",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": {
        "postgres": { "id": "uAbCv6KI1KdUiMtX", "name": "Selvi Jobs DB" }
      },
      "id": "wf5e-get-emails"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-emails",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Emails Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "id": "wf5e-if-emails"
    },
    {
      "parameters": {
        "jsCode": "// Build extraction prompt based on classification\nconst items = $input.all();\nconst results = [];\n\nconst extractionPrompts = {\n  interview_invite: `Extract interview details from this email. Return ONLY valid JSON:\n{\n  \"company_name\": \"<company>\",\n  \"role_title\": \"<role>\",\n  \"interview_date\": \"<YYYY-MM-DD or null>\",\n  \"interview_time\": \"<HH:MM or null>\",\n  \"interview_timezone\": \"<timezone, default Europe/London>\",\n  \"interview_duration\": \"<e.g. 45 minutes or null>\",\n  \"interview_format\": \"<phone|video|in_person|assessment|panel|informal>\",\n  \"interview_platform\": \"<Teams/Zoom/etc or null>\",\n  \"interview_location\": \"<address or null>\",\n  \"interview_link\": \"<URL or null>\",\n  \"interviewer_name\": \"<name or null>\",\n  \"interviewer_title\": \"<title or null>\",\n  \"interviewer_email\": \"<email or null>\",\n  \"contact_person\": \"<name>\",\n  \"contact_email\": \"<email>\",\n  \"preparation_instructions\": \"<any prep info or null>\",\n  \"what_to_bring\": \"<items to bring or null>\",\n  \"dress_code\": \"<dress code or null>\",\n  \"next_steps\": \"<what candidate should do>\",\n  \"response_deadline\": \"<YYYY-MM-DD or null>\",\n  \"extraction_confidence\": <0.0-1.0>\n}`,\n\n  rejection: `Extract rejection details. Return ONLY valid JSON:\n{\n  \"company_name\": \"<company>\",\n  \"role_title\": \"<role or null>\",\n  \"rejection_reason\": \"<stated reason or null>\",\n  \"rejection_stage\": \"<application|shortlisting|interview|final_round>\",\n  \"feedback_offered\": <boolean>,\n  \"next_steps\": \"<any future suggestions>\",\n  \"extraction_confidence\": <0.0-1.0>\n}`,\n\n  acknowledgment: `Extract application acknowledgment details. Return ONLY valid JSON:\n{\n  \"company_name\": \"<company>\",\n  \"role_title\": \"<role or null>\",\n  \"reference_number\": \"<ref number or null>\",\n  \"review_timeline\": \"<stated timeline or null>\",\n  \"expected_response_date\": \"<YYYY-MM-DD or null>\",\n  \"contact_person\": \"<name or null>\",\n  \"contact_email\": \"<email or null>\",\n  \"next_steps\": \"<any stated next steps>\",\n  \"extraction_confidence\": <0.0-1.0>\n}`,\n\n  recruiter_outreach: `Extract recruiter outreach details. Return ONLY valid JSON:\n{\n  \"recruiter_name\": \"<name>\",\n  \"recruiter_email\": \"<email>\",\n  \"recruiter_phone\": \"<phone or null>\",\n  \"agency_name\": \"<agency or null>\",\n  \"proposed_role_title\": \"<role title>\",\n  \"proposed_company\": \"<company or null>\",\n  \"proposed_salary_raw\": \"<salary as stated or null>\",\n  \"proposed_salary_min\": <number or null>,\n  \"proposed_salary_max\": <number or null>,\n  \"proposed_location\": \"<location or null>\",\n  \"next_steps\": \"<what they want>\",\n  \"extraction_confidence\": <0.0-1.0>\n}`,\n\n  offer: `Extract job offer details. Return ONLY valid JSON:\n{\n  \"company_name\": \"<company>\",\n  \"role_title\": \"<role>\",\n  \"salary_offered\": <annual salary number or null>,\n  \"salary_details\": \"<full salary info>\",\n  \"start_date\": \"<YYYY-MM-DD or null>\",\n  \"contact_person\": \"<name>\",\n  \"contact_email\": \"<email>\",\n  \"next_steps\": \"<what to do>\",\n  \"response_deadline\": \"<YYYY-MM-DD or null>\",\n  \"extraction_confidence\": <0.0-1.0>\n}`,\n\n  follow_up_request: `Extract follow-up request details. Return ONLY valid JSON:\n{\n  \"company_name\": \"<company>\",\n  \"role_title\": \"<role or null>\",\n  \"action_required\": \"<what they need>\",\n  \"action_deadline\": \"<YYYY-MM-DD or null>\",\n  \"documents_requested\": [\"<list of docs>\"],\n  \"contact_person\": \"<name>\",\n  \"contact_email\": \"<email>\",\n  \"next_steps\": \"<what to do>\",\n  \"extraction_confidence\": <0.0-1.0>\n}`,\n\n  job_alert: `Extract job listings from this alert email. Return ONLY valid JSON:\n{\n  \"source_platform\": \"<linkedin|indeed|reed|totaljobs|etc>\",\n  \"total_jobs_count\": <number>,\n  \"jobs_listed\": [\n    {\"title\": \"<title>\", \"company\": \"<company>\", \"location\": \"<location>\", \"url\": \"<url or null>\"}\n  ],\n  \"extraction_confidence\": <0.0-1.0>\n}`\n};\n\nfor (const item of items) {\n  const email = item.json;\n  const classification = email.classification;\n  const prompt = extractionPrompts[classification] || extractionPrompts['acknowledgment'];\n\n  results.push({\n    json: {\n      ...email,\n      extraction_prompt: prompt\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Build Extraction Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -100],
      "id": "wf5e-build-prompts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY || '' }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-haiku-20241022\",\n  \"max_tokens\": 1000,\n  \"system\": \"You are a data extraction engine for a UK job seeker's email system. Extract structured data from the email and return ONLY valid JSON. All dates should be in YYYY-MM-DD format. All times in HH:MM 24-hour format. Salary in GBP annual equivalent.\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"{{ $json.extraction_prompt }}\\n\\nEmail to extract from:\\n\\nFrom: {{ $json.from_email }} ({{ $json.from_name || 'unknown' }})\\nSubject: {{ $json.subject }}\\n\\nBody:\\n{{ ($json.body_stripped || $json.snippet || '').substring(0, 4000) }}\"\n  }]\n}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "name": "Claude: Extract Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100],
      "id": "wf5e-claude-extract",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude extraction response and build INSERT data\nconst input = $input.first().json;\nconst emailData = $('Build Extraction Prompts').item.json;\n\nlet extracted = {};\nlet inputTokens = 0;\nlet outputTokens = 0;\n\ntry {\n  const body = input.body || input;\n  inputTokens = body.usage?.input_tokens || 0;\n  outputTokens = body.usage?.output_tokens || 0;\n\n  const content = body.content?.[0]?.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    extracted = JSON.parse(jsonMatch[0]);\n  }\n} catch (err) {\n  extracted = { extraction_confidence: 0, extraction_notes: `Parse error: ${err.message}` };\n}\n\nconst costUsd = (inputTokens * 0.25 / 1000000) + (outputTokens * 1.25 / 1000000);\n\n// Sanitize strings for SQL\nconst s = (val) => val ? String(val).replace(/'/g, \"''\").substring(0, 500) : null;\nconst sqlStr = (val) => val ? `'${s(val)}'` : 'NULL';\nconst sqlNum = (val) => (val !== null && val !== undefined && !isNaN(val)) ? val : 'NULL';\nconst sqlBool = (val) => val ? 'true' : 'false';\nconst sqlDate = (val) => val ? `'${val}'` : 'NULL';\nconst sqlJson = (val) => val ? `'${JSON.stringify(val).replace(/'/g, \"''\")}'::jsonb` : \"'[]'::jsonb\";\n\nreturn [{\n  json: {\n    email_id: emailData.id,\n    classification: emailData.classification,\n    is_urgent: emailData.is_urgent,\n    extracted,\n    input_tokens: inputTokens,\n    output_tokens: outputTokens,\n    cost_usd: costUsd,\n    // Pre-formatted SQL values\n    sql: {\n      company_name: sqlStr(extracted.company_name),\n      role_title: sqlStr(extracted.role_title),\n      contact_person: sqlStr(extracted.contact_person),\n      contact_email: sqlStr(extracted.contact_email),\n      contact_phone: sqlStr(extracted.contact_phone),\n      next_steps: sqlStr(extracted.next_steps),\n      response_deadline: sqlDate(extracted.response_deadline),\n      interview_date: sqlDate(extracted.interview_date),\n      interview_time: extracted.interview_time ? `'${extracted.interview_time}'` : 'NULL',\n      interview_timezone: sqlStr(extracted.interview_timezone || 'Europe/London'),\n      interview_duration: sqlStr(extracted.interview_duration),\n      interview_format: sqlStr(extracted.interview_format),\n      interview_platform: sqlStr(extracted.interview_platform),\n      interview_location: sqlStr(extracted.interview_location),\n      interview_link: sqlStr(extracted.interview_link),\n      interviewer_name: sqlStr(extracted.interviewer_name),\n      interviewer_title: sqlStr(extracted.interviewer_title),\n      interviewer_email: sqlStr(extracted.interviewer_email),\n      preparation_instructions: sqlStr(extracted.preparation_instructions),\n      what_to_bring: sqlStr(extracted.what_to_bring),\n      dress_code: sqlStr(extracted.dress_code),\n      rejection_reason: sqlStr(extracted.rejection_reason),\n      rejection_stage: sqlStr(extracted.rejection_stage),\n      feedback_offered: sqlBool(extracted.feedback_offered),\n      reference_number: sqlStr(extracted.reference_number),\n      review_timeline: sqlStr(extracted.review_timeline),\n      expected_response_date: sqlDate(extracted.expected_response_date),\n      recruiter_name: sqlStr(extracted.recruiter_name),\n      recruiter_email: sqlStr(extracted.recruiter_email),\n      recruiter_phone: sqlStr(extracted.recruiter_phone),\n      agency_name: sqlStr(extracted.agency_name),\n      proposed_role_title: sqlStr(extracted.proposed_role_title),\n      proposed_company: sqlStr(extracted.proposed_company),\n      proposed_salary_raw: sqlStr(extracted.proposed_salary_raw),\n      proposed_salary_min: sqlNum(extracted.proposed_salary_min),\n      proposed_salary_max: sqlNum(extracted.proposed_salary_max),\n      proposed_location: sqlStr(extracted.proposed_location),\n      salary_offered: sqlNum(extracted.salary_offered),\n      salary_details: sqlStr(extracted.salary_details),\n      start_date: sqlDate(extracted.start_date),\n      offer_conditions: sqlJson(extracted.offer_conditions),\n      action_required: sqlStr(extracted.action_required),\n      action_deadline: sqlDate(extracted.action_deadline),\n      documents_requested: sqlJson(extracted.documents_requested),\n      source_platform: sqlStr(extracted.source_platform),\n      jobs_listed: sqlJson(extracted.jobs_listed),\n      total_jobs_count: sqlNum(extracted.total_jobs_count),\n      extraction_confidence: sqlNum(extracted.extraction_confidence || 0.5),\n      extraction_notes: sqlStr(extracted.extraction_notes)\n    }\n  }\n}];"
      },
      "name": "Parse Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -100],
      "id": "wf5e-parse"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\nINSERT INTO email_extracted_data (\n    email_id, classification,\n    company_name, role_title, contact_person, contact_email, contact_phone,\n    next_steps, response_deadline,\n    interview_date, interview_time, interview_timezone, interview_duration,\n    interview_format, interview_platform, interview_location, interview_link,\n    interviewer_name, interviewer_title, interviewer_email,\n    preparation_instructions, what_to_bring, dress_code,\n    rejection_reason, rejection_stage, feedback_offered,\n    reference_number, review_timeline, expected_response_date,\n    recruiter_name, recruiter_email, recruiter_phone, agency_name,\n    proposed_role_title, proposed_company, proposed_salary_raw,\n    proposed_salary_min, proposed_salary_max, proposed_location,\n    salary_offered, salary_details, start_date, offer_conditions,\n    action_required, action_deadline, documents_requested,\n    source_platform, jobs_listed, total_jobs_count,\n    extraction_confidence, extraction_notes,\n    input_tokens, output_tokens, cost_usd\n) VALUES (\n    '{{ $json.email_id }}'::uuid,\n    '{{ $json.classification }}',\n    {{ $json.sql.company_name }}, {{ $json.sql.role_title }},\n    {{ $json.sql.contact_person }}, {{ $json.sql.contact_email }}, {{ $json.sql.contact_phone }},\n    {{ $json.sql.next_steps }}, {{ $json.sql.response_deadline }},\n    {{ $json.sql.interview_date }}, {{ $json.sql.interview_time }},\n    {{ $json.sql.interview_timezone }}, {{ $json.sql.interview_duration }},\n    {{ $json.sql.interview_format }}, {{ $json.sql.interview_platform }},\n    {{ $json.sql.interview_location }}, {{ $json.sql.interview_link }},\n    {{ $json.sql.interviewer_name }}, {{ $json.sql.interviewer_title }},\n    {{ $json.sql.interviewer_email }},\n    {{ $json.sql.preparation_instructions }}, {{ $json.sql.what_to_bring }},\n    {{ $json.sql.dress_code }},\n    {{ $json.sql.rejection_reason }}, {{ $json.sql.rejection_stage }},\n    {{ $json.sql.feedback_offered }},\n    {{ $json.sql.reference_number }}, {{ $json.sql.review_timeline }},\n    {{ $json.sql.expected_response_date }},\n    {{ $json.sql.recruiter_name }}, {{ $json.sql.recruiter_email }},\n    {{ $json.sql.recruiter_phone }}, {{ $json.sql.agency_name }},\n    {{ $json.sql.proposed_role_title }}, {{ $json.sql.proposed_company }},\n    {{ $json.sql.proposed_salary_raw }},\n    {{ $json.sql.proposed_salary_min }}, {{ $json.sql.proposed_salary_max }},\n    {{ $json.sql.proposed_location }},\n    {{ $json.sql.salary_offered }}, {{ $json.sql.salary_details }},\n    {{ $json.sql.start_date }}, {{ $json.sql.offer_conditions }},\n    {{ $json.sql.action_required }}, {{ $json.sql.action_deadline }},\n    {{ $json.sql.documents_requested }},\n    {{ $json.sql.source_platform }}, {{ $json.sql.jobs_listed }},\n    {{ $json.sql.total_jobs_count }},\n    {{ $json.sql.extraction_confidence }}, {{ $json.sql.extraction_notes }},\n    {{ $json.input_tokens }}, {{ $json.output_tokens }}, {{ $json.cost_usd }}\n)\nON CONFLICT (email_id) DO NOTHING;\n\nUPDATE emails SET status = 'extracted', extracted_at = NOW()\nWHERE id = '{{ $json.email_id }}'::uuid;\n\nCOMMIT;",
        "options": { "queryBatching": "transaction" }
      },
      "name": "Save Extracted Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, -100],
      "credentials": {
        "postgres": { "id": "uAbCv6KI1KdUiMtX", "name": "Selvi Jobs DB" }
      },
      "id": "wf5e-save"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_processing_log (email_id, workflow_name, step, status, details)\nVALUES (\n    '{{ $json.email_id }}'::uuid,\n    'WF5-EXTRACT',\n    'extraction',\n    'completed',\n    json_build_object(\n        'classification', '{{ $json.classification }}',\n        'confidence', {{ $json.sql.extraction_confidence }},\n        'tokens_used', {{ $json.input_tokens }} + {{ $json.output_tokens }}\n    )\n);",
        "options": {}
      },
      "name": "Log Extraction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, -100],
      "credentials": {
        "postgres": { "id": "uAbCv6KI1KdUiMtX", "name": "Selvi Jobs DB" }
      },
      "id": "wf5e-log"
    },
    {
      "parameters": {},
      "name": "No Emails",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100],
      "id": "wf5e-noop"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get Classified Emails", "type": "main", "index": 0}]]
    },
    "Get Classified Emails": {
      "main": [[{"node": "Emails Found?", "type": "main", "index": 0}]]
    },
    "Emails Found?": {
      "main": [
        [{"node": "Build Extraction Prompts", "type": "main", "index": 0}],
        [{"node": "No Emails", "type": "main", "index": 0}]
      ]
    },
    "Build Extraction Prompts": {
      "main": [[{"node": "Claude: Extract Data", "type": "main", "index": 0}]]
    },
    "Claude: Extract Data": {
      "main": [[{"node": "Parse Extraction", "type": "main", "index": 0}]]
    },
    "Parse Extraction": {
      "main": [[{"node": "Save Extracted Data", "type": "main", "index": 0}]]
    },
    "Save Extracted Data": {
      "main": [[{"node": "Log Extraction", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/London"
  }
}
