workflows/wf5-notify.json
{
  "name": "WF5-NOTIFY: Urgent Notification (M5)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 2 }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "wf5n-trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_config WHERE key = 'email_notifications_enabled';",
        "options": {}
      },
      "name": "Check Notifications Enabled",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": {
        "postgres": { "id": "uAbCv6KI1KdUiMtX", "name": "Selvi Jobs DB" }
      },
      "id": "wf5n-check-enabled"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "enabled",
              "leftValue": "={{ $json.value }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Notifications Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "id": "wf5n-if-enabled"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT e.id AS email_id, e.subject, e.from_email, e.from_name, e.date,\n       e.gmail_message_id,\n       ec.classification, ec.sub_category, ec.is_urgent,\n       eed.company_name, eed.role_title, eed.contact_person, eed.contact_email,\n       eed.interview_date, eed.interview_time, eed.interview_format,\n       eed.interview_platform, eed.interview_location, eed.interview_link,\n       eed.interviewer_name, eed.salary_offered, eed.salary_details,\n       eed.start_date, eed.action_required, eed.action_deadline,\n       eed.next_steps, eed.response_deadline\nFROM emails e\nJOIN email_classifications ec ON ec.email_id = e.id\nJOIN email_extracted_data eed ON eed.email_id = e.id\nWHERE e.urgent_notification_sent = false\n    AND ec.is_urgent = true\n    AND ec.classification IN ('interview_invite', 'offer', 'follow_up_request')\n    AND e.status IN ('extracted', 'labeled', 'draft_created', 'completed')\nORDER BY e.date ASC\nLIMIT 5;",
        "options": {}
      },
      "name": "Get Urgent Emails",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, -100],
      "credentials": {
        "postgres": { "id": "uAbCv6KI1KdUiMtX", "name": "Selvi Jobs DB" }
      },
      "id": "wf5n-get-urgent"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-urgent",
              "leftValue": "={{ $json.email_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Urgent Emails Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, -100],
      "id": "wf5n-if-urgent"
    },
    {
      "parameters": {
        "jsCode": "// Check throttle and quiet hours, format notification\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const email = item.json;\n  const now = new Date();\n  const ukHour = parseInt(now.toLocaleString('en-GB', { timeZone: 'Europe/London', hour: '2-digit', hour12: false }));\n  const isQuietHours = ukHour >= 22 || ukHour < 7;\n\n  // During quiet hours, only send for interview_invite and offer\n  // follow_up_request can wait unless deadline < 24h\n  if (isQuietHours && email.classification === 'follow_up_request') {\n    const deadline = email.action_deadline ? new Date(email.action_deadline) : null;\n    const hoursUntilDeadline = deadline ? (deadline.getTime() - now.getTime()) / 3600000 : 999;\n    if (hoursUntilDeadline > 24) {\n      // Skip during quiet hours\n      continue;\n    }\n  }\n\n  // Build notification subject and body\n  let notifSubject = '';\n  let notifBody = '';\n  let notifType = '';\n  const gmailLink = `https://mail.google.com/mail/u/0/#inbox/${email.gmail_message_id}`;\n\n  switch (email.classification) {\n    case 'interview_invite':\n      notifType = 'interview_alert';\n      notifSubject = `INTERVIEW: ${email.company_name || 'Unknown'} - ${email.role_title || 'Unknown Role'}`;\n      notifBody = `<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n<h2 style=\"color: #2563eb;\">Interview Invitation</h2>\n<table style=\"width: 100%; border-collapse: collapse;\">\n<tr><td style=\"padding: 8px; font-weight: bold;\">Company:</td><td style=\"padding: 8px;\">${email.company_name || 'Not specified'}</td></tr>\n<tr><td style=\"padding: 8px; font-weight: bold;\">Role:</td><td style=\"padding: 8px;\">${email.role_title || 'Not specified'}</td></tr>\n<tr><td style=\"padding: 8px; font-weight: bold;\">Date:</td><td style=\"padding: 8px; font-family: monospace;\">${email.interview_date || 'TBC'}</td></tr>\n<tr><td style=\"padding: 8px; font-weight: bold;\">Time:</td><td style=\"padding: 8px; font-family: monospace;\">${email.interview_time || 'TBC'}</td></tr>\n<tr><td style=\"padding: 8px; font-weight: bold;\">Format:</td><td style=\"padding: 8px;\">${email.interview_format || 'Not specified'}</td></tr>\n${email.interview_platform ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Platform:</td><td style=\"padding: 8px;\">${email.interview_platform}</td></tr>` : ''}\n${email.interview_location ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Location:</td><td style=\"padding: 8px;\">${email.interview_location}</td></tr>` : ''}\n${email.interview_link ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Link:</td><td style=\"padding: 8px;\"><a href=\"${email.interview_link}\">${email.interview_link}</a></td></tr>` : ''}\n${email.interviewer_name ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Interviewer:</td><td style=\"padding: 8px;\">${email.interviewer_name}</td></tr>` : ''}\n${email.next_steps ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Next Steps:</td><td style=\"padding: 8px;\">${email.next_steps}</td></tr>` : ''}\n</table>\n<br/>\n<a href=\"${gmailLink}\" style=\"display: inline-block; background: #2563eb; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;\">View in Gmail</a>\n<br/><br/>\n<p style=\"color: #6b7280; font-size: 12px;\">Sent by Selvi Job App Email Management System</p>\n</body></html>`;\n      break;\n\n    case 'offer':\n      notifType = 'offer_alert';\n      notifSubject = `OFFER: ${email.company_name || 'Unknown'} - ${email.role_title || 'Unknown Role'}`;\n      notifBody = `<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n<h2 style=\"color: #16a34a;\">Job Offer Received!</h2>\n<table style=\"width: 100%; border-collapse: collapse;\">\n<tr><td style=\"padding: 8px; font-weight: bold;\">Company:</td><td style=\"padding: 8px;\">${email.company_name || 'Not specified'}</td></tr>\n<tr><td style=\"padding: 8px; font-weight: bold;\">Role:</td><td style=\"padding: 8px;\">${email.role_title || 'Not specified'}</td></tr>\n${email.salary_offered ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Salary:</td><td style=\"padding: 8px; font-family: monospace;\">GBP ${email.salary_offered.toLocaleString()}</td></tr>` : ''}\n${email.salary_details ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Details:</td><td style=\"padding: 8px;\">${email.salary_details}</td></tr>` : ''}\n${email.start_date ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Start Date:</td><td style=\"padding: 8px;\">${email.start_date}</td></tr>` : ''}\n${email.response_deadline ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Response By:</td><td style=\"padding: 8px; color: #dc2626; font-weight: bold;\">${email.response_deadline}</td></tr>` : ''}\n${email.next_steps ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Next Steps:</td><td style=\"padding: 8px;\">${email.next_steps}</td></tr>` : ''}\n</table>\n<br/>\n<a href=\"${gmailLink}\" style=\"display: inline-block; background: #16a34a; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;\">View in Gmail</a>\n<br/><br/>\n<p style=\"color: #6b7280; font-size: 12px;\">Sent by Selvi Job App Email Management System</p>\n</body></html>`;\n      break;\n\n    case 'follow_up_request':\n      notifType = 'follow_up_alert';\n      notifSubject = `ACTION NEEDED: ${email.company_name || 'Unknown'} - ${email.action_required || 'Follow-up required'}`;\n      notifBody = `<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n<h2 style=\"color: #ea580c;\">Follow-Up Action Required</h2>\n<table style=\"width: 100%; border-collapse: collapse;\">\n<tr><td style=\"padding: 8px; font-weight: bold;\">Company:</td><td style=\"padding: 8px;\">${email.company_name || 'Not specified'}</td></tr>\n<tr><td style=\"padding: 8px; font-weight: bold;\">Role:</td><td style=\"padding: 8px;\">${email.role_title || 'Not specified'}</td></tr>\n<tr><td style=\"padding: 8px; font-weight: bold;\">Action:</td><td style=\"padding: 8px; font-weight: bold;\">${email.action_required || 'See email'}</td></tr>\n${email.action_deadline ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Deadline:</td><td style=\"padding: 8px; color: #dc2626; font-weight: bold; font-family: monospace;\">${email.action_deadline}</td></tr>` : ''}\n${email.next_steps ? `<tr><td style=\"padding: 8px; font-weight: bold;\">Next Steps:</td><td style=\"padding: 8px;\">${email.next_steps}</td></tr>` : ''}\n</table>\n<br/>\n<a href=\"${gmailLink}\" style=\"display: inline-block; background: #ea580c; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;\">View in Gmail</a>\n<br/><br/>\n<p style=\"color: #6b7280; font-size: 12px;\">Sent by Selvi Job App Email Management System</p>\n</body></html>`;\n      break;\n  }\n\n  if (notifSubject) {\n    results.push({\n      json: {\n        ...email,\n        notification_type: notifType,\n        notification_subject: notifSubject,\n        notification_body: notifBody,\n        gmail_link: gmailLink\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nreturn results;"
      },
      "name": "Build Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -200],
      "id": "wf5n-build"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "false" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Notifications?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, -200],
      "id": "wf5n-if-has-notif"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer re_PMdG3JAg_Er4o7VYY74tek5WzMqmqBJ15" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Selvi Job App <jobs@apiloom.io>\",\n  \"to\": [\"chellamma.uk@gmail.com\"],\n  \"subject\": \"{{ $json.notification_subject }}\",\n  \"html\": {{ JSON.stringify($json.notification_body) }}\n}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "name": "Send via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -300],
      "id": "wf5n-resend",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\nUPDATE emails SET\n    urgent_notification_sent = true,\n    urgent_notification_sent_at = NOW()\nWHERE id = '{{ $('Build Notifications').item.json.email_id }}'::uuid;\n\nINSERT INTO email_notifications (\n    email_id, notification_type, channel, recipient,\n    subject, body, status,\n    resend_message_id, sent_at\n) VALUES (\n    '{{ $('Build Notifications').item.json.email_id }}'::uuid,\n    '{{ $('Build Notifications').item.json.notification_type }}',\n    'email',\n    'chellamma.uk@gmail.com',\n    '{{ $('Build Notifications').item.json.notification_subject.replace(/'/g, \"''\") }}',\n    'HTML notification sent',\n    'sent',\n    '{{ $json.body?.id || $json.id || \"unknown\" }}',\n    NOW()\n);\n\nCOMMIT;",
        "options": { "queryBatching": "transaction" }
      },
      "name": "Update Email + Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1760, -300],
      "credentials": {
        "postgres": { "id": "uAbCv6KI1KdUiMtX", "name": "Selvi Jobs DB" }
      },
      "id": "wf5n-update"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_processing_log (email_id, workflow_name, step, status, details)\nVALUES (\n    '{{ $('Build Notifications').item.json.email_id }}'::uuid,\n    'WF5-NOTIFY',\n    'urgent_notification',\n    'completed',\n    json_build_object(\n        'type', '{{ $('Build Notifications').item.json.notification_type }}',\n        'classification', '{{ $('Build Notifications').item.json.classification }}'\n    )\n);",
        "options": {}
      },
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1980, -300],
      "credentials": {
        "postgres": { "id": "uAbCv6KI1KdUiMtX", "name": "Selvi Jobs DB" }
      },
      "id": "wf5n-log"
    },
    {
      "parameters": {},
      "name": "No Urgent Emails",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 0],
      "id": "wf5n-noop"
    },
    {
      "parameters": {},
      "name": "Disabled",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100],
      "id": "wf5n-disabled"
    },
    {
      "parameters": {},
      "name": "Throttled",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, -100],
      "id": "wf5n-throttled"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Check Notifications Enabled", "type": "main", "index": 0}]]
    },
    "Check Notifications Enabled": {
      "main": [[{"node": "Notifications Enabled?", "type": "main", "index": 0}]]
    },
    "Notifications Enabled?": {
      "main": [
        [{"node": "Get Urgent Emails", "type": "main", "index": 0}],
        [{"node": "Disabled", "type": "main", "index": 0}]
      ]
    },
    "Get Urgent Emails": {
      "main": [[{"node": "Urgent Emails Found?", "type": "main", "index": 0}]]
    },
    "Urgent Emails Found?": {
      "main": [
        [{"node": "Build Notifications", "type": "main", "index": 0}],
        [{"node": "No Urgent Emails", "type": "main", "index": 0}]
      ]
    },
    "Build Notifications": {
      "main": [[{"node": "Has Notifications?", "type": "main", "index": 0}]]
    },
    "Has Notifications?": {
      "main": [
        [{"node": "Send via Resend", "type": "main", "index": 0}],
        [{"node": "Throttled", "type": "main", "index": 0}]
      ]
    },
    "Send via Resend": {
      "main": [[{"node": "Update Email + Log Notification", "type": "main", "index": 0}]]
    },
    "Update Email + Log Notification": {
      "main": [[{"node": "Log Notification", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/London"
  }
}
